{#
/**
* @file
* Better Login theme implementation to display a login page.
*
*
* Available variables:
*
* General utility variables:
* - url: The base URL path of the Drupal website.
* - logo: Logo path of Drupal website.
* - site_name: Site name of Drupal website.
* - title: Title of a page.
* - register_url: A registration url of Drupal website.
*
*
* Regions:
* - page.highlighted: Items for the highlighted region.
* - page.content: The main content of the current page.
*
* @see betterlogin_preprocess_betterlogin()
*/
#}

<div id="auth_box2" class="login2">

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10">
          <div class="wrap d-md-flex">
            <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
              <div class="text w-100">

                {% if logo %}
                <div id="top_part" class="login-logo">
                  <h1 id="the_logo">
                    <a href="{{ url('<front>') }}">
                      <img src="{{ logo }}" alt="{{ site_name }}" />
                    </a>
                  </h1>
                </div>
                {% endif %}

                {% if register_url %}
                <h2>Welcome to login</h2>
                <p>Don't have an account?</p>
                <a href="{{ register_url }}" class="btn btn-white btn-outline-white">{{ 'Register a new account'|t
                  }}</a>
                {% endif %}


                <div class="form-group d-md-flex login-links">
                  <div class="w-100">
                    <div class="form-group mb-3">
                      <a href="{{ path('user.pass') }}">{{ 'Forgot your password?'|t }}</a>
                    </div>
                    <div class="form-group mb-3">
                      <a href="{{ url('<front>') }}">&larr; {{ 'Back to Home'|t }}</a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="login-wrap p-4 p-lg-5">
              <div class="d-flex">
                <div class="w-100">
                  <h3 class="mb-4">{{ title }}</h3>
                </div>
              </div>
              <form action="#" class="signin-form">
                  <div class="form-group signin-form-field mb-3">
                    {{ page.highlighted }}
                  </div>
                  <div class="form-group signin-form-field mb-3">
                    {{ messages }}
                  </div>
                  <div class="form-group signin-form-field mb-3">
                    {{ page.content }}
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>






</div>